# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv("../WeatherPy/csv_output/cities.csv")
city_data_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Mataura,0,NZ,1586555520,95,-46.19,168.86,50.00,3.00
1,Butaritari,100,KI,1586555408,74,3.07,172.79,84.42,9.37
2,Rikitea,77,PF,1586555478,74,-23.12,-134.97,77.00,5.95
3,Port Hawkesbury,90,CA,1586555521,69,45.62,-61.35,41.00,18.34
4,Ushuaia,75,AR,1586555519,70,-54.80,-68.30,46.40,26.40

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df ["Humidity"]

fig = gmaps.figure()
heatlayer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=5)
fig.add_layer(heatlayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
weather_selected = city_data_df.loc[(city_data_df["Max Temp"]  > 70) & (city_data_df["Max Temp"] < 80) & (city_data_df["Wind Speed"] < 10) & (city_data_df["Cloudiness"] == 0)].dropna()
weather_selected

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
40,Ormara,0,PK,1586555529,70,25.21,64.64,78.21,6.53
45,Mathbaria,0,BD,1586555530,89,22.29,89.96,76.77,8.37
280,PƒÅvugada,0,IN,1586555584,45,14.10,77.27,77.25,4.54
306,Kutum,0,SD,1586555404,14,14.20,24.67,71.33,9.82
325,Port Hedland,0,AU,1586555593,88,-20.32,118.57,71.60,6.93
365,Matara,0,LK,1586555602,88,5.95,80.54,77.07,5.99
482,Cockburn Town,0,TC,1586555628,71,21.46,-71.14,78.96,1.79
508,Gwadar,0,PK,1586555634,68,25.12,62.33,79.54,3.62

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [39]:
hotel_df = weather_selected
hotel_df["Hotel Name"] = ""
hotel_df.head(15)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
40,Ormara,0,PK,1586555529,70,25.21,64.64,78.21,6.53,
45,Mathbaria,0,BD,1586555530,89,22.29,89.96,76.77,8.37,
280,PƒÅvugada,0,IN,1586555584,45,14.10,77.27,77.25,4.54,
306,Kutum,0,SD,1586555404,14,14.20,24.67,71.33,9.82,
325,Port Hedland,0,AU,1586555593,88,-20.32,118.57,71.60,6.93,
365,Matara,0,LK,1586555602,88,5.95,80.54,77.07,5.99,
482,Cockburn Town,0,TC,1586555628,71,21.46,-71.14,78.96,1.79,
508,Gwadar,0,PK,1586555634,68,25.12,62.33,79.54,3.62,

In [40]:
params = {
    "key" : g_key,
    "types" : "lodging",
    "radius" : 5000
    }

for index, row in hotel_df.iterrows():
        lat = row["Lat"]
        lng = row["Lng"]
        params["location"] = f"{lat}, {lng}"
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        name_hotel = requests.get(base_url, params=params).json()
        
        try:
            hotel_df.loc[index, "Hotel Name"] = name_hotel["results"][0]["name"]
            name_x = name_hotel["results"][0]["name"]
            print(f"The Hotel {name_x} was found")
        except:
            print("Opps, something is missing here!")

Opps, something is missing here!
The Hotel ‡¶¨‡¶æ‡¶π‡¶æ‡¶¶‡ßÅ‡¶∞‡ßá‡¶∞ ‡¶ö‡¶æ‡ßü‡ßá‡¶∞ ‡¶∑‡ßç‡¶ü‡ßã‡¶∞ was found
The Hotel HOTEL GAYATHRI COMFORTS was found
The Hotel Dibbo areaŸÖŸÜÿ∑ŸÇÿ© ÿØÿ®Ÿà was found
The Hotel The Esplanade Hotel was found
The Hotel Amaloh Boutique Resort was found
The Hotel Osprey Beach Hotel was found
The Hotel Sadaf Resort was found

In [41]:
#Printing out the Hotel Names 
complete_hotel_df = hotel_df
complete_hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
40,Ormara,0,PK,1586555529,70,25.21,64.64,78.21,6.53,
45,Mathbaria,0,BD,1586555530,89,22.29,89.96,76.77,8.37,‡¶¨‡¶æ‡¶π‡¶æ‡¶¶‡ßÅ‡¶∞‡ßá‡¶∞ ‡¶ö‡¶æ‡ßü‡ßá‡¶∞ ‡¶∑‡ßç‡¶ü‡ßã‡¶∞
280,PƒÅvugada,0,IN,1586555584,45,14.10,77.27,77.25,4.54,HOTEL GAYATHRI COMFORTS
306,Kutum,0,SD,1586555404,14,14.20,24.67,71.33,9.82,Dibbo areaŸÖŸÜÿ∑ŸÇÿ© ÿØÿ®Ÿà
325,Port Hedland,0,AU,1586555593,88,-20.32,118.57,71.60,6.93,The Esplanade Hotel
365,Matara,0,LK,1586555602,88,5.95,80.54,77.07,5.99,Amaloh Boutique Resort
482,Cockburn Town,0,TC,1586555628,71,21.46,-71.14,78.96,1.79,Osprey Beach Hotel
508,Gwadar,0,PK,1586555634,68,25.12,62.33,79.54,3.62,Sadaf Resort

In [42]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in complete_hotel_df.iterrows()]
locations = complete_hotel_df[["Lat", "Lng"]]

In [44]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content= hotel_info)

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))